






<!-- THIS IS BREAKING SOMETHING


<div class="field">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? do %>
                <p>Currently waiting on confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
            </div>

-->